<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
		<add connectionString="database=db_pannel;server=101.53.155.68;uid=usrpanelallweb;pwd=panelall@121@" name="DBCS"/>
	</connectionStrings>
	<appSettings>
		<add key="MailUserName" value="ptc.services124@gmail.com"/>
		<add key="MailPassword" value="Robo.Ptc@01"/>
		<add key="MailSender" value="relay-hosting.secureserver.net"/>
		<!--<add key="ToMail" value="learnnihongo2014@gmail.com" />-->
		<add key="ToMail" value="ptc.services112@gmail.com"/>
		<!--<add key="Email" value="pejain@lpsboi.com" />
    <add key="DisplayName" value="Peeyush Jain"/>
    <add key="BookRequestMail" value="mahavirlibrary@lpsboi.com"/>
    <add key="BookRequestDisplayName" value="New Book Request"/>-->
	</appSettings>
</configuration>
